<div>
    <div>
        <h5>{{"Editar Foto" if photo else "Añadir Foto"}}</h5>
        <button type="button">&times;</button>
    </div>
    <div>
        <form hx-post="{{url_for('photo_bp.create_photo') if not photo else url_for('photo_bp.update_photo', photo_id=photo.id)}}" action="">
            <div>
                <label for="">Título</label>
                <input type="text" name="title">
            </div>
            <div>
                <label for="">Descripción</label>
                <input type="text" name="description">
            </div>
            <div>
                <label for="">URL de la imagen</label>
                <input type="url" name="image">
            </div>
            </div>
        </form>
        </div>
    
</div>